* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.wrapper {
  display: flex;
  position: relative;
}

.sidebar {
  width: 240px;
  height: 100%;
  background: #f3f4f9;
  position: fixed;
}

.sidebar__btn {
  display: none;
  position: fixed;
  width: 48px;
  height: 106px;
  right: 6px;
  top: 0px;
  border-right: 50px;

  background-image: url(./content-ipad/sidebar-btn.svg);
}

.sidebar__btn-img {
  background: url(./content-ipad/burger.svg) no-repeat;
  width: 26px;
  height: 20px;
  position: absolute;
  top: 43px;
  left: 5px;
}

.sidebar__logo {
  display: flex;
  align-items: center;
  margin: 40px 0 0 40px;
}

.sidebar__title {
  margin-left: 10px;
}

.sidebar__img {
  height: 50px;
  width: 50px;
  background: url(./sidebar/logo.svg) no-repeat;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  margin-top: 41px;
  margin-right: 0;
  text-decoration: none;
  transition: all 0.3s;
}

.sidebar__item {
  display: flex;
  align-items: center;
  padding-left: 0px;
  height: 64px;
  color: black;
}

.sidebar__item img {
  padding-left: 37px;
}

.sidebar__item h3 {
  margin-left: 15px;
}

.sidebar__item_active {
  color: #34abe0;
}

.sidebar__item span {
  border-left: 3px solid #34abe0;
  height: 100%;
  visibility: hidden;
}

.sidebar__item:hover span {
  visibility: visible;
  color: #34abe0;
}

.divider {
  color: #e5e5e5;
  background-color: #e5e5e5;
  height: 1px;
  border: none;
}

.content-container {
  width: 100%;
  margin-left: 240px;
  height: 100%;
}

.content-container__header {
  height: 201px;
  padding-top: 40px;
  padding-left: 60px;
  padding-right: 60px;
}
.header {
  transition: all 0.3s ease;
}
.content-container__content::before {
  content:"";
  height: 1px;
  display: block;
  background-color: #E5E5E5;
  width: 100%;
  margin-top: -30px;

  
}

.header__title {
  font-weight: 600;
  font-size: 28px;
  line-height: 38px;
  font-family: Open Sans;
  font-weight: 600;
  margin-bottom: 43px;
}

.header__input {
  height: 52px;
  width: 100%;
  border: 1px solid rgba(51, 51, 51, 0.2);
  border-radius: 50px;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  padding: 12px 16px 12px 44px;
  background: url(header/search.svg) no-repeat scroll 16px 16px;
}

.header__input:focus {
  outline: none;
  border: 1px solid #1390e5;
}

.content-container__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fafafa;
  padding: 0 50px 100px 50px;
}

.content-container__content {
  padding-top: 30px;
  background: #fafafa;
}

.coupon {
  width: 335px;
  height: 161px;
  margin: 10px 10px;
  position: relative;
  display: flex;
  z-index: 50;
  background-color: #fff;
  border-radius: 10px;
  justify-content: space-between;
}

.coupon__text {
  display: flex;
  flex-direction: column;
  padding: 16px 20px;
  justify-content: space-between;
}
.coupon::before,
.coupon::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;

  background-color: #fafafa;
  position: absolute;

  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  overflow: hidden;
  z-index: 1;
  right: auto;
}
.coupon::after {
  right: 0;
  transform: translate(50%, -50%) rotate(45deg);
}
.coupon:hover {
  border: 1px solid #df212d;
}
.coupon:hover::before {
  border-top: 1px solid #df212d;
  border-right: 1px solid #df212d;
}
.coupon:hover::after {
  border-bottom: 1px solid #df212d;
  border-left: 1px solid #df212d;
}
.coupon__img {
  display: block;
}
.mask {
  width: 335px;
  height: 161px;
  background-position: center;
}

.coupon__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.coupon__description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  opacity: 0.5;
}

.coupon_num {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: #df212d;
}

.coupon__label {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.4em;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.5;
}

.sidebar__btn:hover .sidebar {
  width: 240px !important;
  display: none;
}

@media screen and (max-width: 768px) {
  .header__title {
    text-align: right;
    margin-bottom: 0px;
  }

  .content-container__header {
    padding: 31px 27px 0 0px;
    height: 181px;
  }

  .coupon {
    width: 300px;
    height: 144px;
  }
  .coupon__title,.coupon__label,.coupon__description {
    font-size: 14px;
  }
  .coupon_num {
    margin-bottom: 5px;
    font-size: 36px;
  }
  .content-container {
    margin-left: 107px;
    width: 100%;
  }

  .sidebar {
    left: -132px;
    z-index: 100;
    padding-left: 132px;
    transition: all 0.3s ease 0s;
  }

  .sidebar__logo {
    position: absolute;
    right: 45px;
  }

  .active.sidebar__logo {
    left: 0;
  }

  .active.sidebar__logo h3 {
    display: block;
    font-weight: 500;
    font-size: 14px;
  }

  .sidebar.active {
    left: 0;
    padding-left: 0;
    transition: all 0.3s ease 0s;
  }

  .sidebar__item span {
    height: 24px;
  }

  .sidebar__title {
    display: none;
  }

  .sidebar__img {
    background: url(./content-ipad/logo.svg) no-repeat;
    width: 24px;
    height: 24px;
  }

  .sidebar__btn {
    display: block;
    left: 107px;
    top: 0px;
    width: 48px;
    height: 106px;
    z-index: 100;
    transition: all 0.3s ease 0s;
  }

  .sidebar__btn.active {
    left: 240px;
    transition: all 0.3s ease 0s;
  }

  .sidebar__burger {
    position: absolute;
    top: 43px;
    left: 5px;
    width: 26px;
    height: 20px;
  }

  .sidebar__burger::before,
  .sidebar__burger::after {
    content: "";
    background-color: black;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .sidebar__burger::before {
    top: 0;
  }

  .sidebar__burger::after {
    bottom: 0;
  }

  .sidebar__burger span {
    position: absolute;
    background-color: black;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .sidebar__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }

  .sidebar__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .sidebar__burger.active span {
    transform: scale(0);
  }

  .sidebar__item h3 {
    display: none;
  }

  .header__input {
    margin: auto;
  }

  .sidebar__list li {
    height: 60px;
  }

  .sidebar__list {
    width: 104px;
    margin-top: 112px;
  }

  .sidebar__list.active {
    width: 100%;
  }

  .sidebar__list.active h3 {
    display: block;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    transition: all 0.3s;
  }

  .sidebar__item.active {
    position: relative;
  }

  .content-container__list {
    padding-bottom: 100px;
    background-color: #fafafa;
    padding-left: 20px;
    padding: 0 0 100px 10px;
  }
.content-container__content::before {
  margin-top: 0;
}
  .content-container__content {
    padding: 0;
  }



  .header__fixed {
    display: block;
    background-color: #fff;
    padding: 27px 0;
    width: 100%;
    height: 106px;
    top: 0;
    padding-left: 26px;

    position: sticky;
    z-index: 51;
  }
}

@media screen and (max-width: 320px) {
  .sidebar {
    width: 192px;
    left: -180px;
    padding: 0;
  }
  .coupon__img {width: 89px;}
  .sidebar.active {
    left: 0px;
    padding-left: 0;
    transition: all 0.3s ease 0s;
  }

  .sidebar__btn.active {
    left: 192px;
    transition: all 0.3s ease 0s;
  }

  .sidebar__logo {
    margin-left: 20px;
  }

  .sidebar__title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    margin-left: 5px;
  }

  .sidebar__list img {
    display: none;
  }

  .sidebar__list a {
    padding-left: 0px;
  }

  .sidebar__list li {
    height: 64px;
  }

  .sidebar__list h3 {
    margin: 0;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
  }

  .sidebar__btn {
    left: 12px;
  }

  .sidebar__item span {
    height: 18px;
  }

  .sidebar__item h3 {
    padding-left: 17px;
  }

  .sidebar__item {
    padding-left: 0;
  }

  .content-container__header {
    padding: 37px 20px 0 0;
  }

  .content-container__content {
    padding: 0;
    position: relative;
  }

  .content-container {
    margin-left: 12px;
  }

  .content-container__list {
    background-color: #fafafa;
    padding-bottom: 100px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
  }

  body {
    min-height: 150vh;
  }

  .header__input {
    font-size: 14px;
  }

  .coupon {
    width: 270px;
    height: 130px;

  }
  .coupon__title,.coupon__label,.coupon__description {
    font-size: 12px;
  }
  .coupon_num {
    font-size: 28px;
  }

}
